<div class="jumbotron">
  <h2>Battleships!</h2>
  <%= form_tag("/test") do
    [
      tag(:input, type: "text", name: "name"),
      tag(:input, type: "submit", value: "New Game")
    ]
  end %>

</div>
